<!-- 배경 스타일 임시 설정 -->
<div class="container row">
    <div class="col-12">
        <!-- 마지막 파일의 날짜 출력 -->
        <span id="dayTag"></span>
    </div>
    
    <div class="col-12 col-md-4 col-lg-4">
        <div>
            <img src="/static/res/image/logo_melon.png">
        </div>
        <table border="1" class="align-middle">
            <tbody>

            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <div>
            <img src="/static/res/image/logo_genie.png">
        </div>
        <table border="1" class="align-middle">
            <tbody>
                <!-- 지니 차트 데이터 -->
            </tbody>
            <tfoot>
                <!-- 페이지 번호 -->
            </tfoot>
        </table>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <div>
            <img src="/static/res/image/logo_youtube.png">
        </div>
        <table border="1" class="align-middle">
            <tbody>
                <!-- 유튜브 차트 데이터 -->
            </tbody>
            <tfoot>
                <!-- 페이지 번호 -->
            </tfoot>
        </table>
    </div>
</div>