<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" integrity="sha384-UW7nqtAfV9h93tGKb9+YoZynF74OcsOt5Irr6Ag4KEbqgcICQv46iB8soY/KJ+Yl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha384-i61gTtaoovXtAbKjo903+O55Jkn2+RtzHtvNez+yI49HAASvznhe9sZyjaSHTau9" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <style>
        body {
            font-size: 12px;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(0, 0, 0);
            /* border: 5px solid blue; */
            /* background-image: linear-gradient(to bottom, rgba(98, 23, 146, 0) 0%, rgba(92, 23, 146, 0.2) 50%, rgba(92, 23, 146, 0.4) 100%); */
            height: 100vh;
        }

        /* 홈 버튼 */
        .home {
            position: absolute;
            margin-top: 660px;
            opacity: 0.8;
            z-index: 6;
        }

        @media (max-width : 380px) {
            .home {
                width: 70px;
                font-size: 9px;
                z-index: 5;
                margin-top: -680px;
                opacity: 0.9;
            }
        }

        .home button {
            margin-top: 200px;
            width: 130px;
            z-index: 5;
        }

        @media (max-width : 380px) {
            .home button {
            margin-top: 1200px;
            width: 60px;
            font-size: 10px;
            z-index: 6;
            }
        }



        /* 회원 정보 수정 바디 */
        /* 웹 크기 */
        @media (min-width : 380px) {
            .outline_line.Edit_info {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                min-width: 400px;
                min-height: 1000px; 
                border-radius: 60px;
                background-image: url(../static/img/bg_img.jpg) 0 0 repeat;
                overflow: hidden;
            }
        }

        /* 폰 크기 */
        @media (max-width : 380px) {
            .outline_line.Edit_info {
                background-color: rgb(47, 100, 100);
                width: 300px;
                height: 600px;
            }
        }

        /* 배경이미지 돌리는 법 */
        .outline_line::before {
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            top: -50%;
            left: -70%;
            z-index: -3;
            background: url(../static/img/bg_img.jpg) 0 0 repeat;
            transform: rotate(-270deg);
            background-size: 180%;
            opacity: 0.7;
        }

        /* 오버레이 이미지 */
        .outline_line:first-child {
            background: url(../static/img/bg_overay.png)0 0 repeat;
            background-size: 100%;
            background-position: 100% 250%;
            z-index: 1;
            background-blend-mode: overlay;
        }

        /* 회원 수정 폼 */
        .center {
            min-width: 100%;
            max-width: 400%;
        }


        .center h1 {
            color: white;
            text-align: center;
            font-size: 30px;
            /* margin-top: 10%; */
            /* padding: 0 0 20px 0; */
        }

        @media(max-width : 380px){
            .center h1 {
            color: white;
            text-align: center;
            font-size: 18px;
            margin-top: 10%;
            }
        }

        form .txt_field {
            position: relative;
            margin: 7% 5%;
            height: 100%;
        }

        /* 인풋창 */
        .txt_field input {
            min-width: 40%;
            width: 320px;
            height: 50px;
            margin: 0 auto;
            padding-left: 30px;
            /* padding-left: 40px; */
            /* font-size: 18px; */
            background-color: rgba(186, 186, 186, 0.3);
            border-radius: 45px;
            border: none;
        }

        @media (max-width : 380px) {
            .txt_field input {
                width: 200px;
                height: 40px;
                font-size: 10px;
                z-index: 6;
            }
        }

        /* 인풋창 placeholder */
        .txt_field input::placeholder {
            color: #dadada;
            /* text-indent: 25px; */
        }

        /* 수정 버튼 */
        #Edit_btn {
            width: 320px;
            height: 50px;
            margin-left: 25%;
            background-color: #FE2983;
            border: none;
            font-size: 15px;
            border-radius: 45px;
            cursor: pointer;
        }


        @media (max-width : 380px) {
            #Edit_btn {
                width: 200px;
                height: 40px;
                font-size: 13px;
                font-weight: medium;
                margin-left: 15%;
                margin-top: -0%;
            }
        }

        /* 회원 탈퇴 버튼 */
        #secession_btn {
            width: 320px;
            height: 50px;
            margin-left: 25%;
            border: none;
            box-shadow: 0 0 0 3px #FE2983 inset;
            background-color: rgba(0, 0, 0, 0);
            font-size: 15px;
            border-radius: 45px;
            cursor: pointer;
        }

        @media (max-width : 380px) {
            #secession_btn {
                width: 200px;
                height: 40px;
                font-size: 13px;
                font-weight: medium;
                margin-left: 15%;
                margin-top: -0%;
            }
        };


    </style>
</head>

<body>
    <!-- 목록탭 -->
    <div class="home" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-light" onclick="location.href='/'">Home</button>
        <!-- <button type="button" class="btn btn-outline-light" onclick="location.href = '/'">
            Home
        </button> -->
    </div>

    <!-- 핸드폰 목록텝 -->
    <!-- <div class="home2 d-none" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-light" aria-current="page"
            onclick="location.href = '/'">Home</button><br>
        <button type="button" class="btn btn-outline-light" onclick="location.href = '/mypage'">My Page</button>
    </div> -->

    <div class="outline_line Edit_info">
        <div class="center">
            <h1>개인정보 수정</h1>
            <form id="Edit_info">
                <div class="txt_field mb-3">
                    <!-- 아이디 조회 -->
                <input type="text" class="form-control" value="<%=data.id%>" readonly>
                </div>
                
                    <!--닉네임 조회 -->
                <div class="txt_field">
                
                    <input type="text" class="form-control" id="check_input_name" name="name" oninput="nickValidity(this)"
                        placeholder="닉네임을 입력해주세요" title="대소문자, 한글, 숫자, 2글자 이상 10글자 이하" pattern="^([a-zA-Z0-9가-힣]{2,10})$"
                        value="<%=data.name%>">
                    <div class="txt_field" id="name_check_sucess"  style="text-align: center; font-size: 13px;"></div>
                </div>
                
                <div class="txt_field">
                    <input type="password" class="form-control" name="pw" oninput="pwValidity(this)"
                        placeholder="비밀번호를 입력해주세요" title="최소 5 글자, 최소 하나의 문자, 하나의 숫자 및 하나의 특수 문자"
                        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@!%*#?&])[A-Za-z\d@!%*#?&]{5,}$" >
                </div>
                
                <div class="txt_field">
                    <input type="password" class="form-control" name="rePw" placeholder="비밀번호를 확인해주세요"
                        oninput="rePwValidity(this)" title="비밀번호가 일치하지 않습니다."
                        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@!%*#?&])[A-Za-z\d@!%*#?&]{5,}$">
                </div>
                <div class="txt_field" id="pw_check_sucess"  style="text-align: center; font-size: 13px;"></div>
            
                <!-- 회원 이메일 조회 -->        
                <div class="txt_field">
                    <input type="text" class="form-control" value="<%=data.e_mail%>" readonly>
                </div>
                <div class="txt_field" id="mail_check_sucess"></div>

                <button type="button" style="color:white; margin-bottom: 20px;" id="Edit_btn"
                    onclick="Edit_info_update()">수정</button>
                    
                <button type="button" style="color:white; margin-bottom: 20px;" id="secession_btn"
                    onclick="delete_info()">탈퇴</button>
            
                </form class="form">
        </div> 
    </div>

</body>
<script>
    //수정 버튼 기능
    function Edit_info_update(){
        var form = document.getElementById('Edit_info');
        if(!form.name.checkValidity()){
            $('#name_check_sucess').html('<p style="color:red;"> 대소문자, 한글, 숫자, 2글자 이상 10글자 이하 </p>');
            console.log(!form.name);
        };

        if(!form.pw.checkValidity()){
            $('#id_check_sucess').html('<p style="color:red;"> 최소 5 자, 최소 하나의 문자, 숫자, 특수 문자 사용</p>');
            console.log(!form.id);
        }else{
            var form = document.getElementById('Edit_info');
        //만약 pw 값이 같거나 name을 검사하면
        if( form.pw.value == form.rePw.value || form.name.checkValidity()){
            //데이타에 변경할 목록만 보낸다. name, pw > name이나 pw만 바꾸려면
            // 1. name은 form.name.value (바뀌든 안바뀌든 입력값으로 수정)
            // 2. pw가 만약 값이 있으면, data객체의 "pw"값에 입력값을 보낸다.
            // 3. pw가 만약 값이 없으면, data객체에 값을 보내지 않는다 => 수정되지 않는다.
            var data = { name: form.name.value };
            if ( form.pw.value != "" ) data["pw"] = form.pw.value;

            axios({
                method : 'patch',
                url : '/Edit_info_update',
                data : data
            })
            .then((response)=>{
                var form = document.getElementById('Edit_info');
                form.name.value = response.data.name;
                window.location.href="/";
                alert('정보 수정 성공');
            });
        } else {
            alert('형식에 맞지 않습니다.');
        };
        }
    };
        //닉네임 유효성 검사 name
        function nickValidity(e) {
        if (!e.checkValidity()) {
            $('#name_check_sucess').html('<p style="color:red;"> 대소문자, 한글, 숫자, 2글자 이상 10글자 이하 </p>');
            return false;
        }
        $('#name_check_sucess').html('');

        axios({
            method: 'post',
            url: '/check_name',
            data: { name: e.value }
        })
            .then((result) => {
                if (result.data) {
                    $('#name_check_sucess').html('<p style="color:red;"> 중복된 닉네임 입니다.');
                } else {
                    $('#name_check_sucess').html('');
                    // validity["name"] = true;
                    console.log("name");
                }
            });
    }
        //비밀번호 유효성 검사 pw
        function pwValidity(e) {
        if (!e.checkValidity()) {
            $('#pw_check_sucess').html('<p style="color:red;"> 최소 5 글자, 최소 하나의 문자, 숫자, 특수 문자 사용 </p>');
            return false;
        };
        $('#pw_check_sucess').html('');
        // validity["pw"] = true;
        console.log("pw");
    };

        //비밀번호 재검사 rePw
        function rePwValidity(e) {
        $('#pw_check_sucess').html('');

        var form = document.getElementById('Edit_info');
        if (form.pw.value != form.rePw.value) {
            $('#pw_check_sucess').html('<p style="color:red;"> 비밀번호가 일치 하지 않습니다.');

        } else {
            $('#pw_check_sucess').html('<p style="color:blue;">');
            // validity["rePw"] = true;
            console.log("rePw");
        }
    };

    function delete_info(){
        var form = document.getElementById('Edit_info');

        axios({
            method : 'delete',
            url : '/user_delete',
            data : { id : form.id.value }
        })
        .then(()=>{
            alert('회원 탈퇴 하셨습니다.');
            window.location.href = "/";
        });
    }

</script>

</html>