<!DOCTYPE html>
<html lang="en, ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>프로젝트</title>
    <script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
    
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" integrity="sha384-UW7nqtAfV9h93tGKb9+YoZynF74OcsOt5Irr6Ag4KEbqgcICQv46iB8soY/KJ+Yl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/nav.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/index.js"></script>

    <!-- 여기까지는 페이지 이동해도 고정으로 가져가야 되는 script -->

    <link href="/static/css/index.css" rel="stylesheet" />
    <!-- 모든 차트 보기를 위한 script -->
    <!--  서버에서 받은 데이터를 js 데이터로 변환 -->
    <%- include('allChart_data') %>
    <script type="text/javascript" src="/static/js/youtubeAllChart.js"></script>
    <script type="text/javascript" src="/static/js/melonAllChart.js"></script>
    <script type="text/javascript" src="/static/js/genieAllChart.js"></script>
    
</head>

<body class="sb-nav-fixed" style="background-color: rgb(0, 0, 0);" >
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand--> <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 ps-3" id="sidebarToggle" href="#!">
            <i class="fas fa-bars"></i></button>
        <a class="navbar-brand ps-4" href="/">하이</a>


        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                    <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="/mypage">My Page</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu bg-dark">
                    <div class="nav">

                        <a class="nav-link" href="/">Main</a>
                        <hr>
                        <div class="sb-sidenav-menu-heading">top100</div>
                        <br>

                        <a class="nav-link" href="/allChart">차트 모아보기</a>
                        <br>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <img src="static/res/image/logo_youtube.png" width="35px">
                            &nbspYouTube
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/youtubeRealChart">실시간 음원순위</a>
                                <a class="nav-link" href="layout-sidenav-light.html">뮤직비디오 순위</a>
                            </nav>
                        </div>

                        <br>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <img src="static/res/image/logo_melon.png" width="35px">
                            &nbspMelon
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    Top 100
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    일간 차트
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                            </nav>
                        </div>
                        <br>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts2">
                            <img src="static/res/image/logo_genie.png" width="35px">
                            &nbspGenie
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">실시간 음원순위</a>
                                <a class="nav-link" href="#">뮤직비디오 순위</a>
                            </nav>
                        </div>
                        <br>
                        <hr>


                        <div class="sb-sidenav-menu-heading">FFFF</div>
                        <a class="nav-link" href="#">
                            GGGG
                        </a>
                        <a class="nav-link" href="#">
                            <!-- <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>  아이콘-->
                            HHHH
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">music</div>
                    음악플레이어
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <section id="item-1" class="item">
            <main class="container">               
                
                <div class="videoContainer hide-for-small-only" >
                    <div class="overlay"></div>
                    <div class="overlay2"></div>
                    <video autoplay="autoplay" loop="loop" muted defaultMuted playsinline oncontextmenu="return false;" preload="auto" id="myVideo">
                    <source src="" id="source" type="video/mp4">
                    </video>
                    <div class="videoText" style="color: aliceblue;">비디오중앙텍스트</div>
                </div>
                <br> <br> <br> <br>
            </section>
           

          
            <section>
                <!-- <div class="container row"> -->
                    <!-- 배경 스타일 임시 설정 -->
                    <div class="containerChart row item" id="item-2" style="background: black">
                        <div class="col-12">
                            <!-- 마지막 파일의 날짜 출력 -->
                            <span style="display: none;" id="dayTag"><%= youtubedata.filelist[youtubedata.filelist.length-1].slice(17, -8); %></span>
                        </div>
                        
                        <div class="col-12 col-md-12 col-lg-4">
                            <div>
                                <img src="/static/res/image/logo_melon.png" style="max-width: 150px;">
                            </div>
                            <table border="1" class="align-middle">
                                <tbody class="a1">
                                    <!-- 멜론 차트 데이터 -->
                                    <!-- 샘플, 해당 형식으로 출력 -->
                                    <!-- <tr>
                                        <td rowspan="2">1</td>
                                        <td rowspan="2">
                                            <img src="/static/res/image/12.jpg">
                                        </td>
                                        <td>아이브</td>
                                    </tr>
                                    <tr>
                                        <td>lovedive</td>
                                    </tr> -->
                                </tbody>
                                <tfoot style="display: none;">
                                    <!-- 페이지 번호 -->
                                    <!-- 샘플, 해당 형식으로 출력 -->
                                    <!-- <tr>
                                        <td colspan='3'>
                                            <ul class="pagination">
                                                <li class="page-item disabled" style="cursor: text";>
                                                    <a class="page-link">pre</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link">next</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr> -->
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <div>
                                <img src="/static/res/image/logo_genie.png" style="max-width: 150px;">
                            </div>
                            <table border="1" class="align-middle">
                                <tbody>
                                    <!-- 지니 차트 데이터 -->
                                </tbody>
                                <tfoot style="display: none;">
                                    <!-- 페이지 번호 -->
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <div>
                                <img src="/static/res/image/logo_youtube.png" style="max-width: 150px;">
                            </div>
                            <table border="1" class="align-middle">
                                <tbody>
                                    <!-- 유튜브 차트 데이터 -->
                                </tbody>
                                <tfoot style="display: none;">
                                    <!-- 페이지 번호 -->
                                </tfoot>
                            </table>
                        </div>
                    </div>
                <br><br><br><br><br><br>

            </section>
            </main>
        </div>
    </div>
</body>
</html>

