<section id="item-1" class="item">
    <main class="container">               
        
        <div class="videoContainer hide-for-small-only" >
            <div class="overlay"></div>
            <div class="overlay2"></div>
            <video autoplay="autoplay" loop="loop" muted defaultMuted playsinline oncontextmenu="return false;" preload="auto" id="myVideo">
            <source src="" id="source" type="video/mp4">
            </video>
            <div class="videoText" style="color: rgb(254, 41, 131);">비디오중앙텍스트</div>
        </div>
        <br> <br> <br> <br>
    </section>

    <section>
        <!-- <div class="container row"> -->
            <div class="containerChart row item" id="item-2">
                <div class="col-12">
                    <!-- 마지막 파일의 날짜 출력 -->
                    <span style="display: none;" id="dayTag"></span>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div>
                        <img src="/static/res/image/melon.png" style="margin-bottom:40px ;max-width: 150px;" data-aos="fade-right">
                    </div>
                    <table border="0" class="align-middle">
                        <tbody class="a1">
                            <!-- 멜론 차트 데이터 -->
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div>
                        <img src="/static/res/image/genie.png" style="margin-bottom:9px ; width: 140px; position:relative; bottom:20px;  " data-aos="fade-right" data-aos-delay="550">
                    </div>
                    <table border="0" class="align-middle">
                        <tbody class="a1">
                            <!-- 지니 차트 데이터 -->
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div>
                        <img src="/static/res/image/youtube.png" style="width: 220px; margin-bottom:38px" data-aos="fade-right" data-aos-delay="1100">
                    </div>
                    <table border="0" class="align-middle">
                        <tbody class="a1">
                            <!-- 유튜브 차트 데이터 -->
                        </tbody>
                    </table>
                </div>
            </div>
        <br><br><br><br><br><br>

    </section>
    </main>