<div class="outline_line mypage container">

    <div class="mypage item1">
        <h1>마이 페이지</h1>
    </div>
    <!-- <div class="center"> -->

    <div class="mypage item2">
        <form class="mypage Information" id="profile_info">
            <!-- 유저 닉네임, 사진 -->
            <div>
                <div class="nickname">
                    <%=data.name%>
                </div>
                <div class="user_poto"><img id="profile_img" src="../static/profile_img/<%= data.user_img %>"></div>
                <!-- 프로필 변경 버튼 -->
                <label type="text" aria-label="Search">
                <input type="file" name="img" style="display:none;" id="userfile">
                </label>
                <button type="button" class="btn btn-primary btn-sm" id="upload_file">프로필 변경</button>


        </form>
    </div>

</div>


<!-- 좋아요 -->
<div class="mypage item3">

        <p style="display: inline;">Like list</p>
        <img id="item3_heart" src="../static/res/image/full_heart.png">
        <p>나의 좋아요 리스트</p>
        <div class="love_img">
            <a href="#"><img src="../static/img/mypage_bg.png"></a>
            <a href="#"><img src="../static/img/mypage_bg.png"></a>
            <a href="#"><img src="../static/img/mypage_bg.png"></a>
            <a href="#"><img src="../static/img/mypage_bg.png"></a>
        </div>
</div>

<!-- 내 게시글 -->
<div class="mypage item4">
    <p>My post</p>
    <p>나의 게시글</p>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
          The current link item
        </a>
        <a href="#" class="list-group-item list-group-item-action">A second link item</a>
        <a href="#" class="list-group-item list-group-item-action">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
        <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
      </div>
</div>
</div>


<!-- <div class="container row" style="margin: auto;">
    <div class="col-12 col-md-6">
        프로필 이미지
    </div>
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-12">
                라이크
            </div>
            <div class="col-12">
                내 게시판
            </div>
        </div>
    </div>
</div> -->