/* index, home 페이지 본문 데이터 CSS */

main {
    max-width: 100% !important;
}

/* 비디오 관련 설정 */
.videoContainer {
    position:relative ;    
    width: 100%;
    height: 100%;
    z-index: 1;
}

.videoContainer video {
    width: 100%;
    position: fixed;
    z-index: 1;
}


.videoText {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    font-size: calc((100vw / 1240) * 72);
    text-align: center;
    background: linear-gradient(to bottom,

            rgba(0, 0, 0, 0.60) 75%,
            rgba(0, 0, 0, 0.95) 95%,
            rgba(0, 0, 0, 0.966) 96%,
            rgba(0, 0, 0, 0.977) 97%,
            rgba(0, 0, 0, 0.988) 98%,
            rgba(0, 0, 0, 0.999) 99%,
            rgba(0, 0, 0, 1) 100%)
}



/* 모든 차트 관련 CSS 설정 */
/* 파일 날짜 */
.containerChart > div:nth-child(1) {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

/* 멜론, 유튜브, 지니 아이콘 */
.containerChart > div > div > img {
    width:70%;
    display:block;
    margin:auto;
}

table {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 10px;
}

tr {
    width: 300px;
}

/* 랭킹 */
tbody > tr:nth-child(2n-1) > td:nth-child(1){
    text-align: center;
    color: rgb(254, 41,131 );
    /* width: 40px; */
}

/* 앨범 이미지 */
tbody > tr > td:nth-child(2) {
    width: 50px;
}
tbody > tr > td:nth-child(2) > img {
    width: 100%;
}

/* 가수 */
tbody > tr > td:nth-child(3) {
    width: 198px;
    text-align: left;
    color: aliceblue;
    padding-left: 12px;
}

/* 곡 제목 */
tbody > tr:nth-child(2n) > td {
    text-align: left;
    color: rgb(167, 164, 164);
    padding-left: 12px;

    /* 글자 길이 제한 */
    width: 198px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

/* 가수 */
/* 글자 길이 제한 */
tbody > tr:nth-child(2n-1) > td:nth-child(3) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

/* 페이지 번호 가운데 정렬 및 커서 포인터로 변경 */
table > tfoot > tr > td > ul {
    justify-content: center;
}

table > tfoot > tr > td > ul > li {
    cursor: pointer;
}


/* 스크롤 스냅 미디어쿼리  */

@media (min-width: 992px) {
   



/* 차트 애니메이션 */

/* 멜론 */
.melon0{
    max-width:100%;
    opacity: 0;
}
.melon1{
    opacity: 0;
}
.melon2{
    opacity: 0;
}
.melon3{
    opacity: 0;
}
.melon4{
    opacity: 0;
}
.melon5{
    opacity: 0;
}
.melon6{
    opacity: 0;
}
.melon7{
    opacity: 0;
}
.melon8{
    opacity: 0;
}
.melon9{
    opacity: 0;
}


/* 지니 */
.genie0{
    opacity: 0;
}
.genie1{
    opacity: 0;
}
.genie2{
    opacity: 0;
}
.genie3{
    opacity: 0;
}
.genie4{
    opacity: 0;
}
.genie5{
    opacity: 0;
}
.genie6{
    opacity: 0;
}
.genie7{
    opacity: 0;
}
.genie8{
    opacity: 0;
}
.genie9{
    opacity: 0;
}

.melon9{
    opacity: 0;
}


/* 유튜브 */
.youtube0{
    opacity: 0;
}
.youtube1{
    opacity: 0;
}
.youtube2{
    opacity: 0;
}
.youtube3{
    opacity: 0;
}
.youtube4{
    opacity: 0;
}
.youtube5{
    opacity: 0;
}
.youtube6{
    opacity: 0;
}
.youtube7{
    opacity: 0;
}
.youtube8{
    opacity: 0;
}
.youtube9{
    opacity: 0;
}
}
